// Variables
$website-width: 1280px;
$main-color: #45A29E;
$light-color: #66FCF1;
$medium-color: #c5c6c7;
$dark-color: #0b0c10;
$bg-image: url('../img/richard.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
